xsd20130624/ISO19115-4/mis/1.0/spatialRepresentationImagery.xsd.bak

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:dqm="http://www.isotc211.org/2005/dqm/1.0/2013-06-24" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gss="http://www.isotc211.org/2005/gss" xmlns:mac="http://www.isotc211.org/2005/mac/1.0/2013-06-24" xmlns:mis="http://www.isotc211.org/2005/mis/1.0/2013-06-24" xmlns:mrs="http://www.isotc211.org/2005/mrs/1.0/2013-06-24" xmlns:msr="http://www.isotc211.org/2005/msr/1.0/2013-06-24" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/mis/1.0/2013-06-24" version="">
  <annotation>
    <documentation>Name: SpatialRepresentation
Position: 3</documentation>
  </annotation>
  <include schemaLocation="mis.xsd"/>
  <import namespace="http://www.isotc211.org/2005/dqm/1.0/2013-06-24" schemaLocation="../../../ISO19157/dqm/1.0/dqm.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gss" schemaLocation="http://www.isotc211.org/2005/gss/gss.xsd"/>
  <import namespace="http://www.isotc211.org/2005/mac/1.0/2013-06-24" schemaLocation="../../mac/1.0/mac.xsd"/>
  <import namespace="http://www.isotc211.org/2005/mrs/1.0/2013-06-24" schemaLocation="../../../ISO19115-3/mrs/1.0/mrs.xsd"/>
  <import namespace="http://www.isotc211.org/2005/msr/1.0/2013-06-24" schemaLocation="../../../ISO19115-3/msr/1.0/msr.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="MI_GCP" substitutionGroup="gco:AbstractObject" type="mis:MI_GCP_Type"/>
  <complexType name="MI_GCP_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="geographicCoordinates" type="gss:GM_Point_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="accuracyReport" type="dqm:AbstractDQ_Element_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_GCP_PropertyType">
    <sequence minOccurs="0">
      <element ref="mis:MI_GCP"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MI_GCPCollection" substitutionGroup="mis:AbstractMI_GeolocationInformation" type="mis:MI_GCPCollection_Type"/>
  <complexType name="MI_GCPCollection_Type">
    <complexContent>
      <extension base="mis:AbstractMI_GeolocationInformation_Type">
        <sequence>
          <element maxOccurs="unbounded" name="gcp" type="mis:MI_GCP_PropertyType"/>
          <element name="collectionIdentification" type="gco:Integer_PropertyType"/>
          <element name="collectionName" type="gco:CharacterString_PropertyType"/>
          <element name="coordinateReferenceSystem" type="mrs:MD_ReferenceSystem_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_GCPCollection_PropertyType">
    <sequence minOccurs="0">
      <element ref="mis:MI_GCPCollection"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractMI_GeolocationInformation" substitutionGroup="gco:AbstractObject" type="mis:AbstractMI_GeolocationInformation_Type"/>
  <complexType abstract="true" name="AbstractMI_GeolocationInformation_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="qualityInfo" type="dqm:DQ_DataQuality_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractMI_GeolocationInformation_PropertyType">
    <sequence minOccurs="0">
      <element ref="mis:AbstractMI_GeolocationInformation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MI_Georectified" substitutionGroup="msr:MD_Georectified" type="mis:MI_Georectified_Type">
    <annotation>
      <documentation>Description: extends georectified grid description to include associated checkpoints
shortName: IGeorect</documentation>
    </annotation>
  </element>
  <complexType name="MI_Georectified_Type">
    <complexContent>
      <extension base="msr:MD_Georectified_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="checkPoint" type="mis:MI_GCP_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_Georectified_PropertyType">
    <sequence minOccurs="0">
      <element ref="mis:MI_Georectified"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MI_Georeferenceable" substitutionGroup="msr:MD_Georeferenceable" type="mis:MI_Georeferenceable_Type">
    <annotation>
      <documentation>Description: Description of information provided in metadata that allows the geographic or map location raster points to be located
FGDC: Georeferencing_Description
shortName: IGeoref</documentation>
    </annotation>
  </element>
  <complexType name="MI_Georeferenceable_Type">
    <complexContent>
      <extension base="msr:MD_Georeferenceable_Type">
        <sequence>
          <element minOccurs="0" name="platformParameters" type="mac:MI_Platform_PropertyType"/>
          <element maxOccurs="unbounded" name="geolocationInformation" type="mis:AbstractMI_GeolocationInformation_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_Georeferenceable_PropertyType">
    <sequence minOccurs="0">
      <element ref="mis:MI_Georeferenceable"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
