xsd20130624/ISO19115-4/mai/1.0/metadataEntityImagery.xsd.bak

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:mac="http://www.isotc211.org/2005/mac/1.0/2013-06-24" xmlns:mai="http://www.isotc211.org/2005/mai/1.0/2013-06-24" xmlns:mdb="http://www.isotc211.org/2005/mdb/1.0/2013-06-24" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/mai/1.0/2013-06-24" version="">
  <include schemaLocation="mai.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://www.isotc211.org/2005/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/mac/1.0/2013-06-24" schemaLocation="../../mac/1.0/mac.xsd"/>
  <import namespace="http://www.isotc211.org/2005/mdb/1.0/2013-06-24" schemaLocation="../../../ISO19115-3/mdb/1.0/mdb.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="MI_Metadata" substitutionGroup="mdb:MD_Metadata" type="mai:MI_Metadata_Type">
    <annotation>
      <documentation>Description: Root entity that defines information about imagery or gridded data
shortName: IMetadata</documentation>
    </annotation>
  </element>
  <complexType name="MI_Metadata_Type">
    <complexContent>
      <extension base="mdb:MD_Metadata_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="acquisitionInformation" type="mac:MI_AcquisitionInformation_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_Metadata_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:MI_Metadata"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
